
/*미디어 쿼리---------------------------  */
/*----------------------------768px~ 화면*/

@media screen and (min-width:768px)
{
/*메뉴바*/
#main_nav {background:#2483c4; min-width:1200px;}
#main_div {width:1200px; margin:0 auto; height:60px;}
#main_nav_ul {text-align:center; overflow:hidden;}
#main_nav_ul > li {float:left; font-size:14pt;  width:16.66%;}
#main_nav_ul > li:last-child {background:rgba(255,255,255,0.8);}
#main_nav_ul > li:last-child  a{color:#2483c4;}
#main_nav_ul > li > a {display:block; color:#fff; line-height:60px; font-weight:bold;}
#main_nav_ul > li:hover > a {background:rgba(255,255,255,0.8); color:#2483c4;}
/*--------------------------------------------------------------------------*/


/*상단바*/
#outline_all {}
#line {min-width:1200px;  background:#fff; height:50px; }
h1 {height:50px; line-height:50px; width:1200px; margin:0 auto; font-size:16px; color:#2483c4; display:block;font-weight:bold;}
h1 a {color:#2483c4;}
/*-------------------------------------------------------------------------*/

#news_wrap {width:900px; min-height:600px; margin:0 auto;}




}

/*미디어 쿼리---------------------------  */
/*----------------------------0~767px 화면*/

@media screen and (max-width:767px)
{

/* 초기화 */
* {margin:0; padding:0;}
body {font-family: 'Nanum Gothic', sans-serif; font-size:12px;}
li {list-style:none; border:0px;}
a {text-decoration:none;}
img {border:0;}


/*모바일 메뉴 영역*/
#main_nav {background:#2483c4; min-width:320px; width:100%; margin:0 auto;}

#main_div {width:100%; height:auto;}

#main_nav_ul {text-align:center; padding:0; margin:0; overflow:hidden;}
#main_nav_ul  li {height:40px; display:block; float:left;}

#main_nav_ul > li:first-child {width:33.33%;}
#main_nav_ul > li:nth-of-type(2) {width:33.33%;}
#main_nav_ul > li:nth-of-type(3) {width:33.33%;}
#main_nav_ul > li:nth-of-type(4) {width:33.33%;}
#main_nav_ul > li:nth-of-type(5) {width:33.33%;}
#main_nav_ul > li:last-child {width:33.33%;}
#main_nav_ul > li:last-child a {display:block; background:rgba(255,255,255,0.8); color:#2483c4;}

#main_nav_ul > li > a {color:#fff; font-size:16px; line-height:40px; text-decoration:none; font-weight:bold;}
#main_nav_ul > li:hover > a {color:#fff; font-size:16px; line-height:40px; text-decoration:none;}



/*상단바 영역 */

#line {display:none;}

/*-------------------------------------------------------------------------*/

#news_wrap {width:100%; min-height:300px;}


}
